<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/abook2vcf/src/de/edgesoft/abook2vcf/ABook2VCF.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.edgesoft.abook2vcf.ABook2VCF"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--input /home/ekleinod/working/rani/privates/PDA/abook.mab --outputfile /home/ekleinod/working/rani/privates/PDA/vcards/abook.vcf --count 0 --version 3.0 --doubles"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="abook2vcf"/>
</launchConfiguration>
